{% extends 'base.html.twig' %}

{% block title %}Quack index{% endblock %}

{% block body %}
    {% set alreadyDisplayed = [] %}
    <div class="row">
        {% for quack in quacks|sort((a, b) => a.comment <=> b.comment) %}
            {% if quack.id not in alreadyDisplayed %}
                {% set alreadyDisplayed = alreadyDisplayed|merge([quack.id]) %}
                <div class="list-group my-1 pe-0">
                    <a href="{{ path('app_quack_show', {'id': quack.id}) }}"
                       class="list-group-item list-group-item-action flex-column align-items-start active">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{ quack.duck.duckname }}</h5>
                            <small>{{ date('now').diff(quack.createdAt).format('Il y as %dj %hH %imins.') }}</small>
                        </div>
                        <p class="mb-1">{{ quack.content }}</p>
                        {% set tags = quack.content|split('#') %}
                        {% if quack.content|u.split('#')|length > 1 %}
                            {% for key, tag in tags %}
                                {% if key > 0 %}
                                    <small class="text-muted">#{{ tag }}</small>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </a>
                    {% set w = 100 %}
                    {% for comment in quack.comments %}
                        {{ include('quack/_comment.html.twig', {'comment': comment, 'alreadyDisplayed': alreadyDisplayed, 'w': w}) }}
                    {% endfor %}
                </div>
            {% endif %}
        {% else %}
            <p>no quacks found</p>
        {% endfor %}
    </div>
{% endblock %}

